---
import camcomexjujuy from "@/assets/projects/camcomexjujuy.webp";
import expojuy from "@/assets/projects/expojuy.webp";
import capse from "@/assets/projects/capse.webp";
import espaciopurmamarca from "@/assets/projects/espaciopurma.webp";
import lasmarias from "@/assets/projects/lasmarias.webp";
import aapdpp from "@/assets/projects/aapdpp.webp";

import "photoswipe/style.css";
---

<div class="gap-32 mt-8 px-8 grid grid-cols-1 lg:grid-cols-2" id="projects-gallery">
  <a href={camcomexjujuy.src} data-pswp-width={1200} data-pswp-height={800}>
    <img
      src={camcomexjujuy.src}
      alt="Sitio web de la Cámara de comercio exterior de Jujuy"
      class="transition-transform duration-200 ease-in hover:scale-110"
      width={672}
      height={446}
    />
  </a>

  <a href={espaciopurmamarca.src} data-pswp-width={1200} data-pswp-height={800}>
    <img
      src={espaciopurmamarca.src}
      alt="Sitio web de Espacio Purmama"
      class="transition-transform duration-200 ease-in hover:scale-110"
      width={672}
      height={446}
    />
  </a>

  <a href={lasmarias.src} data-pswp-width={1200} data-pswp-height={800}>
    <img
      src={lasmarias.src}
      alt="Sitio web de Las Marías Proyectos"
      class="transition-transform duration-200 ease-in hover:scale-110"
      width={672}
      height={446}
    />
  </a>
  <a href={expojuy.src} data-pswp-width={1200} data-pswp-height={800}>
    <img
      src={expojuy.src}
      alt="Sitio web de la ExpoJuy Edición 2022"
      class="transition-transform duration-200 ease-in hover:scale-110"
      width={672}
      height={446}
    />
  </a>

  <a href={aapdpp.src} data-pswp-width={1200} data-pswp-height={800}>
    <img
      src={aapdpp.src}
      alt="Sitio web de la Asociación Argentina de Profesionales de Derecho Procesal Penal"
      class="transition-transform duration-200 ease-in hover:scale-110"
      width={672}
      height={446}
    />
  </a>

  <a href={capse.src} data-pswp-width={1200} data-pswp-height={800}>
    <img
      src={capse.src}
      alt="Sitio web de CAPSE"
      class="transition-transform duration-200 ease-in hover:scale-110 col-span-1 lg:col-span-2 mx-auto"
      width={672}
      height={446}
    />
  </a>
</div>
<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#projects-gallery a",
    pswpModule: () => import("photoswipe"),
  });
  lightbox.init();
</script>
