---
import { t } from "i18next";
import IconArrowRight from "@/assets/icons/arrow-right.svg";
import IconUnderline from "@/assets/icons/underline.svg";
import Section from "../section.astro";

import one from "@/assets/1.svg";
import two from "@/assets/2.svg";
import three from "@/assets/3.svg";

import Step from "./step.astro";
---

<Section>
  <div
    class="bg-gradient-to-b from-gray-700 via-gray-900 to-black p-8 rounded-2xl"
  >
    <div class="flex flex-col items-center gap-2 mb-12">
      <p class="text-xl text-font-light">{t("steps.subtitle")}</p>
      <p class="text-5xl font-bold text-center relative">
        {t("steps.title")}
        <img
          src={IconUnderline.src}
          alt="Icon underline"
          role="presentation"
          class="absolute sm:bottom-[-100%] left-[33%]"
        />
      </p>
    </div>
    <ul class="flex gap-16 flex-col lg:flex-row items-center justify-center">
      <li class="mb-8 relative">
        <Step
          image={one.src}
          title={t("steps.step1.title")}
          description={t("steps.step1.description")}
        />
        <img
          src={IconArrowRight.src}
          alt="Icon ArrowRight"
          role="presentation"
          class="absolute text-white rotate-90 top-[160%] right-[35%] lg:rotate-0 lg:top-[40%] lg:right-[-10%]"
        />
      </li>
      <li class="mb-8 relative">
        <Step
          image={two.src}
          title={t("steps.step2.title")}
          description={t("steps.step2.description")}
        />
        <img
          src={IconArrowRight.src}
          alt="Icon ArrowRight"
          role="presentation"
          class="absolute text-white rotate-90 top-[160%] right-[35%] lg:rotate-0 lg:top-[40%] lg:right-[-10%]"
        />
      </li>
      <li class="mb-8">
        <Step
          image={three.src}
          title={t("steps.step3.title")}
          description={t("steps.step3.description")}
        />
      </li>
    </ul>
  </div>
</Section>
